body {
background-color: lightblue;
font-family: "Calibri", sans-serif;
text-align: center;
}
#head {
width: 520px;
border: 5px solid gray;
margin: auto; 
}
h1 {
color: #404040;
font-size: 200px;
text-align: center;
}
h2 {
color: #404040;
font-size: 30px;
text-align: center;
}
h3 {
text-align: center;
}
pre {
font-family: "Calibri", sans-serif;
font-size: 30px;
text-align: center;
color: #C77E36;
}
.h3 {
font-family: "Calibri", sans-serif;
font-size: 50px;
text-align: center;
color: #404040;
}
h4 {
color: #404040;
font-size: 20px;
text-align: center;
}
.h4 {
font-family: "Calibri", sans-serif;
font-size: 30px;
text-align: center;
color: #404040;
}
.button {
padding:5px;
background-color:  #F5F5F5;
border: 1px solid gray;
color: #C77E36;
text-decoration:none;
font-size: 50px;
}
